.Contact{
    height: 100vh;
    background: #101010;
    color: white; 
    margin-top: 220px;
}  

.Contact h2{
    margin-left: 11px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.8em;
}

#contact-info{

   line-height: 50px; 
   padding-left: 10px;
}

#contact-form{
    display: flex;
    background:#1c1c1c;
    padding: 10px 18px;
    color: black;
    position: relative;
 }


 #name,#email,#message{
    width: 100%;
    margin-bottom: 10px;
    font-size: 1em;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
 }

 #add-img,#phone-img,#email-img{
    font-size: 1.8em;
    color:rgb(37, 126, 178);
 }
 span{
    font-size:1.9em;
 }
 p{
    margin-left: 30px;
 }

 #submit{
    font-size: 1em;
    position: relative;
    left: 35%;
   bottom: 10px;
    margin-top: 7px;
    padding: 10px;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    color: white;
    border-radius: 10px;
    border: none;
 }

 #submit:hover{
   background-position: right center;
   background-size: 200% auto;
   -webkit-animation: pulse 2s infinite;
   animation: pulse512 1.5s infinite;
 }

 #notification{
   color: white;
   position: absolute;
   left: 28%;
 }

 .form-submitted{
   height: calc(100% + 50px);
 }
 @keyframes pulse512 {
   0% {
    box-shadow: 0 0 0 0 #05bada66;
   }
  
   70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
   }
  
   100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
   }
  }

  @media(max-width:600px){
   .Contact{
       height:110vh ;
   }
}

@media(max-width:376px){
   .Contact{
       height:150vh ;
   }
}
 
@media(max-width:390px){
   .Contact{
       height:120vh ;
   }
}
 
